.PostShare {
  display: flex;
  gap: 1rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
  /* background: #000; */
  /* overflow: auto; */
  flex-direction: column;
}
.PostShare > img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.PostShare > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.PostShare > div > input {
  background-color: var(--inputColor);
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
  outline: none;
}

/* post options */
.postOpetions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.option {
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: all 300ms ease-out;
  cursor: pointer;
  gap: 5px;
}

.ps-button {
  font-size: 12px;
  padding: 5px 20px;
}
.ps-button:hover {
  background: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
}

.prevImage {
  position: relative;
}
.prevImage > svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}
.prevImage > img {
  width: 100%;
  max-height: 20rem;
  object-fit: fill;
  border-radius: 0.5rem;
}
