.App {
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem 1rem;
  width: 100vw;
  height: 100vh;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #a6ddf0;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
  cursor: pointer;
}
.button:hover {
  background: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
}

.glimmer-panel {
  border: 1px dashed #aaa;
  background: linear-gradient(
    90deg,
    rgba(221, 221, 221, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 6px;
  padding: 10px;
}

.glimmer-line {
  display: block;
  height: 20px;
  margin: 10px;
  border-radius: 4px;
  background: #f0f0f0;
}
