.App {
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem 1rem;
  width: 100vw;
  height: 100vh;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #a6ddf0;
  filter: blur(72px);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100ms ease-out;
  cursor: pointer;
}
.button:hover {
  background: transparent;
  color: var(--orange);
  border: 2px solid var(--orange);
}
